import(e1071)
import(rpart)
import(party)
import(ipred)
import(randomForest)	
import(ROCR)
export(readData)
export(readData2)
export(writeData)
export(plotData)
export(bpBagging)
export(bpCtree)
export(bpLogisticRegression)
export(bpRandomForest)
export(bpRpart)
export(bpSVM)
export(bpComp)
export(readPedMap)
