importFrom("grDevices", "rainbow")
importFrom("graphics", "abline", "axis", "legend", "lines", "points")
importFrom("stats", "chisq.test", "pchisq", "qchisq", "uniroot")
export(ES.anova.oneway)
export(ES.chisq.assoc)
export(ES.chisq.gof)
export(ES.proportions)
export(ES.t.one)
export(ES.t.paired)
export(ES.t.two)
export(power.anova.oneway)
export(power.chisq)
export(power.plot.chisq)
export(power.proportions)
export(power.t)
